<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springMVC_mybatis.StudentMapper">
    <resultMap id="resultStudent" type="Student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
        <result property="address" column="address"/>
    </resultMap>
    <!--多对一进行的映射设置，一个student对多个mark-->
    <resultMap id="resultStudentMarks" type="Mark">
        <id property="mark" column="mark"/>
        <result property="year" column="year"/>
        <result property="sid" column="sid"/>
        <association property="student" javaType="Student">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="gender" column="gender"/>
            <result property="age" column="age"/>
            <result property="address" column="address"/>
        </association>
    </resultMap>
    <select id="getStudentMarks" parameterType="int" resultMap="resultStudentMarks">
        SELECT S.*,M.*
        FROM student S,mark M
        WHERE S.id=M.sid AND S.id=#{id}
    </select>
    <select id="getStudentById" resultMap="resultStudent" parameterType="int">
        SELECT *
        FROM student
        WHERE id=#{id}
    </select>
</mapper>